################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/front-end-yoga/FileContentIndex/90f06ef9-8263-4e80-a534-b2be12dee044.vsidx
/.vs/front-end-yoga/FileContentIndex/f79022a1-59dc-4a00-8d98-4c805a48a666.vsidx
